@media (max-width: 979px) {
    html {
        font-size: 12px;
    }


    #tweetContainer {
        float: none;
        clear: both;
        width: 95%;
        height: 10em;
        margin: 0 auto;
    }

    #addContainer {
        width: 88%;
        margin: 1em auto;
    }

    #addContainer a.button {right:32%;}

    #keywordContainer {
        width: 98%;
    }
    .keyword {
        width:100%;
    }

    .graph {
        width: 65%;
    }

    .tweet {
        float: left;
        width: 31%;
        height: 100%;
    }

    #grailsLogo {
        display: none;
    }

    #appLogo h2 {
        width: 70%;
        margin-left: 0%;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
    }

    #addContainer>div {
        height: 8em;
    }
    #addContainer .iPhoneCheckContainer {
        float: none;
        top: 1.5em;
        left: 40%;
    }

    #addContainer a.button {
        right: 5%;
        top: 65%;
        font-size:3rem;

    }
    #addContainer input {
        width: 60%;
        font-size:4rem;
        height:5rem;
        margin-top:-1.5rem;
    }

    #appLogo {
        height: 100%;
    }
    #appLogo h2 {
        float: none;
    }

    .errors,
    .message {
        font-size: 2rem;
    }

}