/********
    Preserved from Grails default main.css
********/

/* FONT STACK */
body, input, select, textarea { "adelle", Georgia, serif; }

/* BASE LAYOUT */

html {
    /*background-color: #EBF7F8;*/
    font-size: 14px;
}

html.no-cssgradients {
    background-color: #aaa;
}


html * {
    margin: 0;
}

body {
    background: #ffffff;
    color: #333333;
    margin: 0 auto;
    /*max-width: 70em;*/

}


a {
    text-decoration: none;
}
a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

/* MESSAGES AND ERRORS */

.errors,
.message {
    font-size: 1.5rem;
    margin: 1em 2em;
    padding: 0.25em;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    -moz-box-shadow: 0 0 0.25em #b2d1ff;
    -webkit-box-shadow: 0 0 0.25em #b2d1ff;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.error {
    color: #cc0000;
}
.cantina-orange {
    color: #FF5200;
}
.positive {
    color: #48802C;
}

.errors ul,
.message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.message {
    background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #ffffff;
}

/*
  twitterMonitor Custom css
*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.left { float: left; }
.right { float: right;}

.center-outer {position:relative;}
.center-inner {position:absolute;top:50%;}
.center-text {text-align: center;}
.right-text {text-align: right;}


#main {
    height: 100%;
    font-size: 1.5rem;
}

#addContainer {

    width: 65%;
    margin: 1em;
}
#addContainer>div {
    border: 1px solid black;
    border-radius: 15px;
    height: 4em;
    box-shadow:0 0 2em #CCCCCC;
}

#addContainer input {
    margin: 1em 1em;
    height: 1.5em;
    width: 50%;
    border: 1px solid #CCCCCC;
    color: #00AED8;
    font-size: 1em;
    font-weight: bold;
    border-radius: 8px;
    margin-top: -1em;

}

#addContainer a.button {
    margin-top: -1.25em;
    border: 1px solid #CCC;
    right: 34%;
    padding: 0.5em;
    border-radius: 15px;
    background-color: #FF5200;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
#addContainer a.button:hover {
    background-color: #CD2000;

}

#addContainer .iPhoneCheckContainer {
    right: 2%;
    margin-top: -0.75em;
}

#tweetContainer {
    float:right;
    height: 28em;
    width: 25%;
    border: 1px solid;
    margin-right: 1em;
    margin-top: -5em;
    box-shadow:0 0 2em #CCCCCC;
    overflow-y: hidden;
}

#tweetContainer .empty { width: 100%; }
#tweetContainer.verboten { display:none; }

.tweet {
    padding: 0.25em;
    margin-bottom:0.5em;
}

.tweet div.right {
    width: 75%;
    margin-top: 0.5em;
    font-weight: bold;
}

.tweet .text {
    font-size: 0.8em;
    color: #aaaaaa;
}
.tweet .text .mention { color: #2C5B00; }
.tweet .text .hashtag { color: #4878D6; }

#keywordContainer {
    float:left;
    width:70%;
}

.instructions {
    padding:2em;
    color: #555555;
}

.instructions.message {
    text-indent: 0em;
}

.keyword {
    width: 100%;
    margin-bottom:1em;
    height: 3em;
}
.keyword .left {margin-left: 0.5em;}

.keyword a.keyword-remove {
    z-index: 5;
    position: absolute;
    display: block;
    color: #cc0000;
    border:1px solid #777777;
    border-radius: 15px;
    cursor: pointer;
    display:none;
    width:2em;
    left: 8em;
    background-color: #ffffff;

    -webkit-transition: visibility 0.5s ease 2s;
    -moz-transition: visibility 0.5s ease 2s;
    transition: visibility 0.5s ease 2s;


}
.keyword a.keyword-remove:hover {
    border:1px solid #000000;
}
.keyword:hover a.keyword-remove {
    display: block;
}


.icon {
    border: 2px solid #CCCCCC;
    padding: 0.75em;
    border-radius: 1em;
    background-color: #EEEEEE;
    box-shadow:0 0 1em #CCCCCC;
    width: 21%;
}

.graph {
    width: 65%;
    height:3em;
}
.graph .bar {
    border:2px solid #000000;
    background-color: #444444;
    height:1.5em;
    margin-top:-01em;
    z-index: 1;
    color: white;
    overflow: hidden;
    transition: width 1s ease 0;
    -webkit-transition: width 1s ease 0;
    -moz-transition: width 1s ease 0;
}

.count-lower {
    margin-top: 0.85em;
    margin-left: 20rem;
}
.count-upper {
    margin-left: 20rem;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;

}


/************

    Presentation

************/
.app-header {
    background-color:#00AED8;
    border-bottom: solid 3px #7ECAE4;
    width: 100%;
}

#appLogo {
    height: 7em;
}
#appLogo>div {padding:1em;}

#appLogo h2 {
    width: 40%;
    float: left;
    margin-left: 5%;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

#appHeader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding: .5rem;
    opacity: .9;
}

#appHeader .logo {
    margin-right: 2em;
    width: 10em;
}


#appHeader .nav {
    position: absolute;
    top: 50%;
    margin-top: -0.625rem;
    margin-left: 2em;
}
#appHeader .nav a {
    font-size: 1.25rem;
    padding: 0.5em;
    font-weight: bold;
}
#appHeader .nav a, #appHeader .nav a:visited { color:#ffffff; }

#appHeader .nav a:hover, #appHeader .nav a.current { color: #FF5200; }

.slide {
    margin: 0 auto;
    width: 95%;
    padding: 120px 12px;
    padding: 12rem 2rem;
    height: 40rem;
    background-color: #ffffff;
}

.push-left {
    position: absolute;
    left: 50%;
}

cite a, .sub {
    color: #B4B4B4;
    text-decoration: none;
    font-style: italic;
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 2.5rem;
    padding: 0.25em;
    z-index: 10;
}

ul {
    font-size:2rem;
}

.row {
    width: 95%;
    margin: 0 auto;
}
.row p {
    left: 40%;
    margin-top: -1em;
}

.content-right {
    position: absolute;
    right: 25%;
    top: 50%;
}

img.rounded {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.img-row .right {margin-right: 2em;}
.img-row img {margin-top: 2em;}



/***************
    Slides (Individual slide overrides)
****************/

#overview cite {
    display: block;
    margin-top: 2em;
    font-size: 2rem;
}

#html5 .logo { margin-left: -128px; }
#html5 p {font-weight: bold; margin-top: 2em;}

#html5_2 a {
    position: absolute;
    top: 57%;
    right: 28%;
}

#futureProof_3 img.rounded {
    width: 35rem;
}

#futureProof_4 img.rounded {
    width:35rem;
    top: 27%;
    margin-left:-18.5rem;
}

#futureProof_5 .center-inner {top:20%; right:15%;}

#apiDesign_3 img.left { margin-left: 2rem; margin-top: 2rem;}

#jsHelp_3 img { width:50rem; margin: 4rem 0 0 -25rem; }





